.card-container {
    margin-top: 25px;
    width: 1250px;
    margin: auto;
}

.columns {
    display: flex;
    width: 100%;
}

.card-column {
    margin-top: 30px;
    float: left;
    padding: 5px;
}

.left {
    width: 25%;
}
.right {
    width: 75%;
}
