.card {
    border: 2px solid #2c2c3f;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
    padding: 5px;
}
.donator {
    position: relative;
    display: flex;
    min-height: 99px;
    text-align: left;
    background-color: #c850de;
}

.donator-model-container {
    position: absolute;
    overflow: hidden;
    left: -30px;
    bottom: 0px;
    width: 130px;
    height: 150px;
}
.donator-model {
    position: relative;
    top: 0px;
    height: 220px;
}

.donator-text-container {
    width: 60%;
    margin-left: 100px;
}

.donator-title {
    font-weight: 700;
    font-size: x-large;
    font-style: italic;
}

.donator-body {
    margin-top: 0px;
    font-size: larger;
    color: #50205a;
    font-weight: 500;
}

.balance {
    background-color: #242430;
}

.balance-header {
    width: 100%;
    display: flex;
}

.balance-title {
    float: left;
    font-weight: 700;
    font-size: larger;
    font-style: italic;
}
.balance-amount {
    float: left;
    margin-top: 3px;
    margin-left: 4px;
}
.balance-icon {
    height: 20px;
    margin: 0px 4px 4px 4px;
    float: left;
}
.balance-form {
    width: 80%;
    margin: auto;
}
.balance-code {
    margin: 20px 0px 10px;
    padding: 10px 0px;
    text-align: center;
    border: 2px solid #2c2c3f;
    border-radius: 10px;
    font-weight: 700;
    font-size: large;
    background-color: #13131d;
    color: #979da9;
    width: 100%;
    min-width: 90px;
}

.balance-code:focus {
    outline: none;
    border: 2px solid #5c5c83;
    border-radius: 10px;
}

.balance-submit {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: large;
    background-color: #37d3ff;
    border: 2px solid #2c2c3f;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 90%;
    min-width: 190px;
    transition: 0.1s;
}

.balance-submit:hover {
    transform: scale(1.05);
    transition: 0.1s;
}
.balance-submit:focus {
    outline: none;
    border: 2px solid rgb(77, 255, 255);
}

.payments {
    background-color: #242430;
}

.payments-head-holder {
    position: relative;
    margin: auto;
    width: 32px;
}

.payments-head:hover + .payments-head-hover {
    display: block;
}
.payments-head-hover {
    display: none;
    position: absolute;
    top: -30px;
    left: -20px;
    background-color: #13131d;
    padding: 2px 5px;
    border-radius: 8px;
    font-weight: 700;
    font-style: italic;
    opacity: 95%;
}

.payments-head {
    width: 32px;
}

.payments-header {
    display: flex;
}

.payments-title {
    float: left;
    font-weight: 700;
    font-size: larger;
    font-style: italic;
}
.payments-icon {
    height: 20px;
    margin: 0px 4px 4px 4px;
    float: left;
}

.main-card {
    background-color: #242430;
    overflow: hidden;
    position: relative;
    text-align: left;
    padding: 15px;
}

.main-card h1 {
    font-size: 36pt;
    font-style: italic;
    margin-bottom: 0px;
    margin-top: 0px;
}

.main-card a {
    text-decoration: none;
    color: #37d3ff;
}
.main-card p {
    font-size: large;
}

.background-dot {
    width: 350px;
    opacity: 10%;
}

.dot-left {
    position: absolute;
    top: -200px;
    left: -150px;
}

.dot-right {
    position: absolute;
    top: -200px;
    right: -150px;
}
