.logobar {
    padding-left: auto;
    padding-right: auto;
    width: 1000px;
    margin: auto;
    color: white;
}
.logobar-container {
    border-bottom: 2px solid #2c2c3f;
    background-color: #252430;
}
.playerlands-logo {
    height: 70px;
    align-content: center;
    margin: 20px;
}
